.App {
  display: grid;
}


/* @media (min-width: 576px) {
 .body{
  display: grid;
  grid-template-columns:1fr;
 }
}

@media (min-width: 768px) {  }

@media (min-width: 992px) { }
@media (min-width: 1200px) {  } */



